# ======================== Maven ========================
target/

# ======================== IDE ========================
.idea/
*.iml

# ======================== Playwright ========================
trace*.zip

# ======================== OS ========================
.DS_Store
Thumbs.db

# ======================== Logs ========================
*.log
*.dumpstream
